.itemImg {
  height: 500px;
}

.itemImgCarousel {
  height: 500px;
}

@media only screen and (max-width: 639px) {
  .itemImgCarousel {
    height: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .itemImgCarousel {
    height: 300px;
  }
}
