table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  width: 90%;
  margin: 40px 10px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td {
  text-align: center;
  padding: 3px;
}

.cartControl,
.cartItemDelete {
  border: none;
  border-radius: 5px;
  height: 25px;
}

.plus {
  display: flex;
  background: rgb(63, 209, 235);
}

.minus {
  background: rgb(233, 83, 37);
  display: flex;
}

.cartItemDelete {
  background: rgb(252, 3, 15);
}
.productName {
  margin-left: 20px;
}
.previewImg {
  width: 60px;
  height: 75px;
}
.orderContainer {
  border: 1px solid #dddddd;
  width: 90%;
  margin: 40px 10px;
  padding: 30px;
}
.orderButton {
  background-color: rgb(236, 29, 81);
  padding: 7px;
  margin: 20px auto;
  border: 1px solid #dddddd;
  color: white;
}
.orderButton:hover {
  text-decoration: none;
}

.emptyCartMessage {
  margin-bottom: 30vh;
}
@media only screen and (max-width: 460px) {
  .previewImg {
    width: 40px;
    height: 50px;
  }

  .productName {
    margin-left: 10px;
  }
}
