.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgba(236, 29, 81, 0.3);
  padding: 0;
}

.navigation {
  width: 100%;
}
.navigationItems ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  margin: 0;
  margin-top: 200px;
  padding: 0;
}
.navigationItems li {
  display: flex;
  width: 100%;
  margin-left: 30px;
  margin-bottom: 50px;
}

.navigationItems a {
  text-decoration: none;
  font-size: large;
  color: rgb(236, 29, 81);
  font-weight: 300;
  font-family: sans-serif;
}

.navigationItems a:hover,
.navigationItems a:active {
  color: rgb(214, 5, 233);
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}
