.logoComponent {
  border-bottom: 1px solid red;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cartIcon {
  margin-top: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cartContainer a {
  color: rgb(32, 32, 32);
}

@media (max-width: 769px) {
  .cartIcon {
    margin-top: 0;
  }
}
