.productInfoContainer {
  margin-top: 50px;
  margin-left: 10px;
  width: 90%;
}

.selectPrefrence {
  height: 35px;
  width: 90%;
  font-size: 20px;
}

.selectPrefrenceHeader {
  color: rgb(236, 29, 81);
}
.char {
  font-size: medium;
  margin: 0;
}
.unitControl {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 29, 81);
  color: white;
  font-weight: bold;
  font-size: 30px;
  border: none;
  width: 55px;
  padding: 5px;
  margin: 10px 0px;
}

.unitControl:hover {
  background-color: rgb(255, 122, 122);
}

.unitControl:focus {
  outline: none;
}

.counterDisplay {
  display: flex;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(192, 189, 189);
  height: 51px;
  font-size: 30px;
  width: 60px;
}
.addToCart {
  padding: 15px;
  margin: 10px 10px;
  background-color: rgb(236, 29, 81);
  color: white;
  border: 1px grey solid;
  font-family: Arial, Helvetica, sans-serif;
}

.description {
  width: 100%;
  border-top: 1px solid rgb(236, 29, 81);
  border-bottom: 1px solid rgb(236, 29, 81);
  margin: 20px auto;
}
.descriptionContainer {
  margin-top: 50px;
}

.descriptionList {
  font-size: 1rem;
  margin-bottom: 40px;
}
.descriptionHeader {
  font-weight: bold;
  margin-top: 40px;
}

.loading {
  margin-top: 50px;
  margin-bottom: 100vh;
}
