.slide {
  margin-bottom: 150px;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

.image {
  height: 120vh;
}

@media only screen and (max-width: 1000px) {
  .image {
    height: 100vh;
  }
}
@media only screen and (max-width: 950px) {
  .slide {
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .slide {
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width: 750px) {
  .slide {
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 550px) {
  .slide {
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .image {
    height: 80vh;
  }
}
@media only screen and (max-width: 450px) {
  .slide {
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 415px) {
  .image {
    height: 70vh;
  }
}

@media only screen and (max-width: 375px) {
  .image {
    height: 60vh;
  }
}
